body {
  font-family: var(--font-family);
  background-color: var(--deep-void);
  font-size: 14px;
  line-height: 1.6;
  color: white;
}

.container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}