.body {
  font-family: var(--font-montserrat);
  background-color: var(--deep-void);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--pure-light);
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}