:root {
  --lavender-mist: #e9deff;
  --deep-void: #0b001a;
  --pure-light: #fff;
  --royal-night: #1e0044;
  --midnight-pulse: #170034;
  --urban-ash: #56514d;
  --font-montserrat: "Montserrat", sans-serif;
  --font-georgia: "Georgia", sans-serif;
}