.btn {
  display: flex;
  gap: 10px;
  text-transform: uppercase;
  align-items: center;
  max-width: max-content;
  border-radius: 80px;
  border: 1px solid var(--lavender-mist);
  padding: 10px 14px;
  font-weight: 500;
  color: var(--lavender-mist);
}

.btn--light {
  background-color: var(--lavender-mist);
  border-color: var(--deep-void);
  color: var(--deep-void);
  box-shadow:
    0 0 3px 0 rgba(162, 45, 247, 0.1),
    0 0 7px 0 rgba(162, 45, 247, 0.1),
    0 0 13px 0 rgba(162, 45, 247, 0.1),
    0 0 25px 0 rgba(162, 45, 247, 0.1),
    0 0 47px 0 rgba(162, 45, 247, 0.1),
    0 0 19px 9px rgba(162, 45, 247, 0.1);
  background: var(--lavender-mist);
}
