.header {
  margin: 20px 0;
}

.header__inner {
  background-color: var(--royal-night);
  border-radius: var(--br-desktop);
  padding: 20px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  gap: 24px;
}

.header__link {
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--lavender-mist);
  padding: 12px;
}